@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);    

body {
  margin: 0;
  font-family: 'Roboto Condensed', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.event-block {
  text-align: center;
  cursor: pointer;
}

.calender-modal.modal-dialog {
  width: 273px;
}

.calender-modal.modal-dialog .modal-content {
  height: fit-content;
  min-height: 272px;
}

.calender-modal.modal-dialog .buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10%;
}

.calender-modal.modal-dialog .form-check {
  padding: 5px 20px;
}

.calender-modal.modal-dialog .buttons-container button {
  width: 100px;
}